<h4> Nom de l'utilisateur : {{this.userPageService.currentUser.name}}</h4>
<form [formGroup]="audioDevices">
  <mat-form-field class="mat-app-background" appearance="fill">
    <mat-label>Audio Input</mat-label>
    <mat-select [formControl]="inputAudioControl" (valueChange)="chooseAudioinput(outputAudioControl.value)">
      <mat-option value="{{input.deviceId}}" *ngFor="let input of inputAudio">
        {{input.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="mat-app-background" appearance="fill">
    <mat-label>Audio Output</mat-label>
    <mat-select [formControl]="outputAudioControl" (valueChange)="chooseAudioOutput(outputAudioControl.value)">
      <mat-option value="{{output.deviceId}}}" *ngFor="let output of outputAudio">
        {{output.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
